<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="204800" executionTimeout="7200" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
